.main-img {
    width: 100%;
    height: 400px;
    background-image: url('https://loremflickr.com/1024/400');
    background-repeat: no-repeat;
    background-size: cover;
}

#tacos {
    padding-top: 5%;
}

.opiniones {
    font-size: 11px;
}
.stars > .fas.fa-star {
    color: #FFA534;
}